.container{
    display: flex;
    justify-content: center;
}
 
    

.flame{
    margin-top: 200px;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(254, 126, 22);
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    rotate: 50deg ;
     
    

}


.diya{
    height: 150px;
    width: 300px;
    background-color: rgb(141, 20, 20);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-top: 300px;

}
