* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(254, 205, 205);
}
body{
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    


    width: 500px;
    height: 700px;
    border: 2px solid black
}

.div1 {
    width: 30%;
    height: 30%;
    background: green;
    animation: width 2s alternate  infinite ;
}
@keyframes width {
    from{
        background: #000;
        width: 0%;
    }
    to{background: white;}
    
}

.div2 {
 
    

    width: 30%;
    height: 30%;
    background: red;
}

.div3 {
    position: sticky;
    top: 1px;
    width: 30%;
    height: 30%;
    background: yellow;
}
.div4{
    position: sticky;
    top: 1px;
    background: #000;
    width: 100px;
    height: 100px;
}
 