*{
    margin: 0;
    padding: 0;
}
    
nav{
    background-color: rgb(181, 112, 245);
    color: white;
    height: 50px;
    width: 100%;
    padding-left: 10px;
}
nav ul{
    
    
    display: flex;
    list-style: none;
    


}
nav ul li{
    margin-right: 50px;
    margin-top:15px;
}
nav ul li a{
    text-decoration: none;
}
.div1{

    display: flex;
    
    width: 80%;
    height: 100%;

}
.div2{
    
    display: flex;
    width: 20%;
    height: 100%s;
}
.Toggel-bar{
    display: none;
}
@media (max-width:400px){
    .Toggel-bar{
        display: inline;

    }  
    .About,.contact,.Sign{
        display: none;
    }
}